body {
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}

a:visited,
a:active,
a:hover,
a:link {
	color: #f9faf8;
}

/* HEADER SECTION */
.header {
	background: #1f2937;
	color: #f9faf8;
	padding: 8px;
	display: flex;
	justify-content: center;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-basis: 900px;
}

.logo {
	font-weight: bold;
	font-size: 24px;
}

ul {
	display: flex;
	gap: 20px;
	list-style: none;
	font-size: 18px;
}

a {
	text-decoration: none;
}

/* HERO SECTION */
.hero {
	background: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

.hero-text {
	flex-basis: 350px;
	margin-right: 30px;
}

.hero-text h1 {
	font-size: 48px;
	color: #f9faf8;
	margin: 0;
}

.hero-text p {
	font-size: 18px;
	color: #e5e7eb;
	opacity: 70%;
}

.hero-text button {
	background: #3882f6;
	color: #f9faf8;
	padding: 10px 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

.hero-img {
	height: 300px;
	width: 450px;
	border-radius: 10px;
}

/* CONTENT SECTION */
.content h2 {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	margin: 40px 0;
}

.dogs-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 90px;
}

.dog {
	text-align: center;
}

.dog img {
	height: auto;
	width: 200px;
	border: 3px solid #3882f6;
	border-radius: 25px;
}

.dog p {
	font-size: 18px;
	margin-top: 10px;
	opacity: 70%;
	margin-bottom: 50px;
}

/* QUOTE SECITON */
.quotes {
	background-color: #e5e7eb;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
	gap: 200px;
}

.quotes h3 {
	font-style: italic;
	font-size: 32px;
}

.quotes p {
	font-weight: bold;
	font-size: 20px;
	text-align: right;
}

.quote2 {
	flex-basis: 500px;
}

/* CALL TO ACTION SECTION */

.call-to-action {
	display: flex;
	justify-content: center;
}

.c2a-box {
	background: #3882f6;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 80px 160px;
	padding: 40px 0;
	border-radius: 25px;
	flex-basis: 1040px;
}

.c2a-box h5 {
	color: #f9faf8;
	font-size: 22px;
	font-weight: lighter;
	margin: 0 0 10px 0;
}

.c2a-box p {
	color: #e5e7eb;
	opacity: 90%;
	margin: 0;
}

.c2a-box button {
	background: #3882f6;
	color: #f9faf8;
	border: #f9faf8 2px solid;
	font-size: 24px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}

/* FOOTER SECTION */
.footer {
	margin-top: auto;
	background: #1f2937;
	margin: 0;
	color: #f9faf8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.footer p {
	margin: 5px;
}
